*{
    margin:0px;
    padding:0px;
}
.pallete{
    color:#3c4b5e;
    color:#000c1f;
    color:#a58a77;
    color:#f5efd2;
    color:#936f5d;
    color:#47352d;
    color:#f8f6f6;
}
body{
    background-color: #3c4b5e;
    margin-left:125px;
    margin-right:125px;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size:35px;
    color:#f5efd2;
}
header{
    text-align:center;
    margin:50px;
}
li{
    list-style: none;
    width:auto;
    height:auto;
    margin:50px 100px 100px 50px;
}
ul{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:lighter;
    font-size:35px;
    color:#f5efd2;
    width:auto;
    height:auto;
    margin:50px;
}

a{
    color:#f5efd2;
    text-decoration:none;
}
a:visited,a:active{
    text-decoration:none;
    color:#f5efd2;
}
a:hover{
    text-decoration:underline;
}
.instructions{
    text-align:justify;
    font-size:25px;
}
.parts{
    font-size:25px;
}


.code {
    background-color: #000c1f;
    padding: 20px;
    border: 1px solid #47352d;
    border-radius: 5px;
}

pre {
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

code.python {
    display: block;
    padding: 10px;
}